[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
pre-commit = "*"
flake8 = "*"
ipython = "*"
jupyter = "*"

[packages]

[requires]
python_version = "3.9"
